doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Launches | Lemkus
        link(rel='stylesheet' href='/css/tailwind.css')
        link(rel='stylesheet' href='/css/style.css')
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css")
        script(src="/js/script.js") 
    body
        // Top Bar Nav
        nav.w-full.py-4(style='border-bottom: 1px solid black')
            .mx-5.flex.flex-wrap.items-center.justify-between
                .logo.font-bold
                    a(href="/")
                        svg(xmlns='http://www.w3.org/2000/svg' width='45%' viewBox='0 0 125.365 17.001')
                            g#Small_Logo(transform='translate(-25 -19.5)')
                                path#Path_1073.cls-1(d='M5.791 1.779L0 18.125h16.209l1.524-4.492H8.368l3.893-11.854z' transform='translate(25 18.049)')
                                path#Path_1074.cls-1(d='M134.961 18.125l2.7-8.1-6.624 5.814h-.116l-2.731-5.814-2.7 8.1h-6.653L122.8 6.53h-12.883l-.553 1.57h10.649l-1.307 3.947h-10.649l-.61 1.6h10.808l-1.482 4.483h-17.49l5.462-16.346h26.265l2.44 5.745 6.276-5.745h7.467l-5.462 16.346z' transform='translate(-56.041 18.049)')
                                path#Path_1331.cls-1(d='M380.26 16.3c-1.918 1.541-4.823 2.148-8.048 2.148-5.723 0-8.8-2.2-8.8-5.884a8.6 8.6 0 0 1 .436-2.639l2.333-6.962-7.8 6.285 4.242 8.873h-7.233l-2.441-5.254-2.849 2.292-.988 2.966h-6.8l5.462-16.346h6.8L352.6 7.64l6.77-5.861h14.12l-2.847 8.5a4.5 4.5 0 0 0-.232 1.285c0 1.354.988 2.055 2.789 2.055a3.491 3.491 0 0 0 2.179-.677 4.716 4.716 0 0 0 1.453-2.382l2.934-8.78h6.915l-3.225 9.62a10.155 10.155 0 0 1-3.2 4.9' transform='translate(-254.418 18.049)')
                                path#Path_1332.cls-1(d='M578.518 6.445c3.457 1.028 5.665 2.195 5.665 4.693a4.836 4.836 0 0 1-1.947 3.83C580.7 16.206 578.2 17 574.974 17a17.115 17.115 0 0 1-10.024-2.966l3.893-3.736a12.444 12.444 0 0 0 6.857 2.312c.872 0 1.482-.257 1.482-.724 0-.514-.378-.677-3.341-1.565-3.777-1.121-5.549-2.2-5.549-4.6a4.655 4.655 0 0 1 1.917-3.62A11.555 11.555 0 0 1 577.443 0a16.253 16.253 0 0 1 9.065 2.452l-3.893 3.736a11.245 11.245 0 0 0-5.869-1.822c-.872 0-1.482.187-1.482.654 0 .49.436.584 3.254 1.424' transform='translate(-436.143 19.5)')
                nav
                    ul.flex.items-center.justify-between.font-bold.text-sm.uppercase.no-underline.gap-x-2
                        li
                            a.px-4.border.border-black.rounded-full.p-1(href='/launches') launches
                        li
                            button.px-4.border.border-transparent.rounded-full.font-bold.uppercase(data-type="sneaker" class='p-0.5 hover:text-yellow-300 focus:bg-black focus:text-white') sneakers
                        li
                            button.px-4.border.border-transparent.rounded-full.font-bold.uppercase(data-type="apparel" class='p-0.5 hover:text-yellow-300 focus:bg-black focus:text-white') apparel
                .flex.items-center.font-bold.text-sm.no-underline.pr-6
                    a(href='/login' class='hover:text-yellow-300' )
                        | ACCOUNT
                    a.pl-6(href='#' class='hover:text-yellow-300' data-type="modal")
                        | WISHLIST (0)
                    a.pl-6(href='/search' class='hover:text-yellow-300')
                        | SEARCH
                    a.pl-6(href='#' class='hover:text-yellow-300' )
                        | BAG (0)
        #sneaker-drop.h-96.z-10.w-full.absolute.hidden.bg-white.shadow-lg.p-5
            .grid.grid-flow-col.auto-cols-max.gap-24
                div
                    .text-3xl.font-bold COLLECTIONS
                    .flex.flex-col.mt-5
                        p.font-bold.uppercase(class="hover:text-yellow-400") all sneakers
                        p.font-bold.uppercase(class="hover:text-yellow-400") mens
                        p.font-bold.uppercase(class="hover:text-yellow-400") womens
                        p.font-bold.uppercase(class="hover:text-yellow-400") grade school
                div
                    .text-3xl.font-bold BRANDS
                    .flex.flex-col.mt-5
                        p(class="hover:text-yellow-400") Nike
                        p(class="hover:text-yellow-400") Air Jordan
                        p(class="hover:text-yellow-400") Adidas
                        p(class="hover:text-yellow-400") Converse
                        p(class="hover:text-yellow-400") Reebok
                        p(class="hover:text-yellow-400") New Balance
                        p(class="hover:text-yellow-400") Puma
                        p(class="hover:text-yellow-400") Crocs
                div
                    .text-3xl.uppercase.font-bold featured
                    .grid.grid-flow-col.auto-cols-max.mt-5
                        .card.w-72.mr-3
                            img.bg-contain.bg-center.border.border-black(src='../img/blazer.png')
                            p.uppercase.font-bold air max 90 qs
                        .card.w-72.mr-3
                            img.bg-contain.bg-center.border.border-black(src='../img/airmax.jpg')
                            p.uppercase.font-bold nike blazer
                        .card.w-72
                            img.bg-contain.bg-center.border.border-black(src='../img/chuck.jpg')
                            p.uppercase.font-bold chuck 70

        #apparel-drop.h-96.z-10.w-full.absolute.hidden.bg-white.shadow-lg.p-5
            .grid.grid-flow-col.auto-cols-max.gap-32
                div
                    .text-3xl.font-bold COLLECTIONS
                    .flex.flex-col.mt-5
                        p.font-bold.uppercase(class="hover:text-yellow-400") all apparel
                        p.font-bold.uppercase(class="hover:text-yellow-400") just dropped
                        p.font-bold.uppercase(class="hover:text-yellow-400") mens
                        p.font-bold.uppercase(class="hover:text-yellow-400") womens
                div
                    .text-3xl.font-bold mens
                    .flex.flex-col.mt-5
                        p(class="hover:text-yellow-400") T-shirs
                        p(class="hover:text-yellow-400") Hoodies
                        p(class="hover:text-yellow-400") Sweatshirts
                        p(class="hover:text-yellow-400") Jackets
                        p(class="hover:text-yellow-400") Tracksuits
                        p(class="hover:text-yellow-400") Tracksuit Pants
                        p(class="hover:text-yellow-400") Shorts
                div
                    .text-3xl.font-bold womens
                    .flex.flex-col.mt-5
                        p(class="hover:text-yellow-400") T-shirs
                        p(class="hover:text-yellow-400") Hoodies
                        p(class="hover:text-yellow-400") Sweatshirts
                        p(class="hover:text-yellow-400") Jackets
                        p(class="hover:text-yellow-400") Vesta
                        p(class="hover:text-yellow-400") Tracksuits
                        p(class="hover:text-yellow-400") Tracksuit Pants
                        p(class="hover:text-yellow-400") Pants
                        p(class="hover:text-yellow-400") Shorts
                        p(class="hover:text-yellow-400") Dresses/Skirts
                        p(class="hover:text-yellow-400") Leggings
                div
                    .text-3xl.uppercase.font-bold featured
                    .grid.grid-flow-col.auto-cols-max.mt-5
                        .card.w-72.mr-3
                            img.bg-contain.bg-center.border.border-black(src='../img/blazer.png')
                            p.uppercase.font-bold air jordan psg tee
                        .card.w-72.mr-3
                            img.bg-contain.bg-center.border.border-black(src='../img/airmax.jpg')
                            p.uppercase.font-bold nsw icon gx hoodie
        //section
        //modal
        #wishlist.hidden.h-full.w-full.flex.items-center.border.border-dark.absolute.top-0(style="background-color: rgba(0, 0, 0,0.1)")
            .border.border-black.bg-white.mx-auto(class="w-5/6 h-5/6").flex.flex-col.items-center
                .w-full.bg-black.h-10.flex.items-center.justify-end.px-5
                    i(class="ri-user-fill text-white text-xl")
                    .uppercase.text-white.inline-block.mx-5 guest shpper
                    button(data-type="modal")
                        i(class="ri-close-line text-white text-xl")
                .mt-10.flex.justify-between(class="w-11/12").border-b.border-black.pb-5.items-center
                    button
                        .text-2xl.uppercase my wishlist
                    i(class="ri-more-2-line text-2xl")
                .text-xl.uppercase.mt-20 love it? add to my wishlist
                .p.my-10(class="w-6/12") My Wishlist allows you to keep track of all of your favorites and shopping activity whether you're on your computer, phone, or tablet. You won't have to waste time searching all over again for that item you loved on your phone the other day - it's all here in one place!
                button.p-2.px-5.border.border-dark.rounded-full.uppercase.bg-yellow-400 continue shopping

        //footer
        footer.w-full.bg-yellow-400.uppercase.text-sm.py-10.font-light
            .mx-10.flex.flex-col.items-center.justify-between
                .w-full.flex.justify-between
                    .join.flex.flex-col.font-bold.text-lg.w-80
                        | JOIN OUR COMMUNITY
                        input.mt-2.appearance-none.rounded-sm.border.w-full.py-2.px-3.bg-yellow-400.text-black.border-black.mb-3.leading-tight.placeholder-black(type='email' class='focus:outline-none focus:shadow-none' placeholder="EMAIL" required)
                    .grid.grid-cols-3.gap-2.gap-x-10.text-xs
                        a.border.border-transparent.py-1.rounded-full(href='' class="hover:border-black transition-all") about us
                        a.border.border-transparent.py-1.rounded-full(href='' class="hover:border-black transition-all") privacy policy
                        a.border.border-transparent.py-1.rounded-full(href='' class="hover:border-black transition-all") how to order
                        a.border.border-transparent.py-1.rounded-full(href='' class="hover:border-black transition-all") faq
                        a.border.border-transparent.py-1.rounded-full(href='' class="hover:border-black transition-all") delivery policy
                        a.border.border-transparent.py-1.rounded-full(href='' class="hover:border-black transition-all") tack your order
                        a.border.border-transparent.py-1.rounded-full(href='' class="hover:border-black transition-all") contact us
                        a.border.border-transparent.py-1.rounded-full(href='' class="hover:border-black transition-all") terms of use
                        a.border.border-transparent.py-1.rounded-full(href='' class="hover:border-black transition-all") return & exchanges
                a.w-full.mb-20.mt-10(href='https://lemkus.com' title='')
                    svg(xmlns='http://www.w3.org/2000/svg' width='100%' viewBox='0 0 125.365 17.001' fill='white')
                        g#Small_Logo(transform='translate(-25 -19.5)')
                            path#Path_1073.cls-1(d='M5.791 1.779L0 18.125h16.209l1.524-4.492H8.368l3.893-11.854z' transform='translate(25 18.049)')
                            path#Path_1074.cls-1(d='M134.961 18.125l2.7-8.1-6.624 5.814h-.116l-2.731-5.814-2.7 8.1h-6.653L122.8 6.53h-12.883l-.553 1.57h10.649l-1.307 3.947h-10.649l-.61 1.6h10.808l-1.482 4.483h-17.49l5.462-16.346h26.265l2.44 5.745 6.276-5.745h7.467l-5.462 16.346z' transform='translate(-56.041 18.049)')
                            path#Path_1331.cls-1(d='M380.26 16.3c-1.918 1.541-4.823 2.148-8.048 2.148-5.723 0-8.8-2.2-8.8-5.884a8.6 8.6 0 0 1 .436-2.639l2.333-6.962-7.8 6.285 4.242 8.873h-7.233l-2.441-5.254-2.849 2.292-.988 2.966h-6.8l5.462-16.346h6.8L352.6 7.64l6.77-5.861h14.12l-2.847 8.5a4.5 4.5 0 0 0-.232 1.285c0 1.354.988 2.055 2.789 2.055a3.491 3.491 0 0 0 2.179-.677 4.716 4.716 0 0 0 1.453-2.382l2.934-8.78h6.915l-3.225 9.62a10.155 10.155 0 0 1-3.2 4.9' transform='translate(-254.418 18.049)')
                            path#Path_1332.cls-1(d='M578.518 6.445c3.457 1.028 5.665 2.195 5.665 4.693a4.836 4.836 0 0 1-1.947 3.83C580.7 16.206 578.2 17 574.974 17a17.115 17.115 0 0 1-10.024-2.966l3.893-3.736a12.444 12.444 0 0 0 6.857 2.312c.872 0 1.482-.257 1.482-.724 0-.514-.378-.677-3.341-1.565-3.777-1.121-5.549-2.2-5.549-4.6a4.655 4.655 0 0 1 1.917-3.62A11.555 11.555 0 0 1 577.443 0a16.253 16.253 0 0 1 9.065 2.452l-3.893 3.736a11.245 11.245 0 0 0-5.869-1.822c-.872 0-1.482.187-1.482.654 0 .49.436.584 3.254 1.424' transform='translate(-436.143 19.5)')
                .w-full.flex.justify-between
                    .credit
                        | © 2021 JACK LEMKUS - ALL RIGHTS RESERVED
                    .link.grid.gap-x-5.grid-cols-3
                        a.border.border-transparent.text-center.py-1.px-2.rounded-full(href='#' class="hover:border-black transition-all") instagram
                        a.border.border-transparent.text-center.py-1.px-2.rounded-full(href='#' class="hover:border-black transition-all") twitter
                        a.border.border-transparent.text-center.py-1.px-2.rounded-full(href='#' class="hover:border-black transition-all") facebook
